/*GLOBAL*/

body {
  background-image: url(../images/moon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  font-size: 40px;
  background-color: #3e433f;
  color: white;
  text-align: center;
  padding: 60px;
}

/*Footer*/

footer {
  background-color: #b08c79;
  color: #ffffff;
  padding: 3px;
  text-align: center;
  display: block;
}

/*Navigation*/

nav {
  background-color: #b08c79;
  font-size: 20px;
  position: sticky;
  position: -webkit-sticky;
  overflow: hidden;
}

ul {
  list-style: none;
  overflow: hidden;
}

li a {
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  float: left;
  text-align: center;
}
nav a:hover {
  background-color: #d4d4d4;
  color: black;
}

/*Index*/

.img-florence {
  border-width: 3px;
  border-color: #3e433f;
  border-style: solid;
  width: 400px;
  box-shadow: 10px 10px 20px;
  margin-top: 2%;
  padding: 5%;
  margin-inline-start: 50px;
}
.text-right-picture {
  max-width: 700px;
}

#last-paragraph {
  color: rgb(215, 110, 127);
}
.two-columns {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2px;
}

.three-columns {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 0px;
  column-gap: 40px;
  margin-inline-start: 50px;
  max-width: 80%;
}
/*Experience*/
.p-green {
  color: rgba(26, 157, 50, 0.657);
  font-weight: 900;
}
/*Contact*/
.p-brown {
  color: brown;
  max-width: 700px;
}
.contact-form {
  background-color: rgb(215, 110, 127);
  color: white;
  width: 500px;
  height: 300px;
  border-radius: 10%;
  margin-inline-start: 50px;
  margin-top: 50px;
}
input,
label {
  margin-inline-start: 20px;
}
.four-columns {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 0px;
  column-gap: 30px;
}
.img-plane {
  max-width: 40%;
  height: auto;
  margin-inline-start: 240px;
  margin-top: -10%;
}
